## Project 1
### PGA Tour Golf Stats

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import os

In [2]:
# Declare input file paths and file names
pga_data_hist_file = os.path.join(".", "input_data", "PGA_Data_Historical.csv")
pga_data_hist_wide_file = os.path.join(".", "input_data", "PGA_data_Historical_Wide.csv")

In [3]:
# Load data (non-wide version) into dataframe
pga_data_h_df = pd.read_csv(pga_data_hist_file)

In [4]:
# Get descriptive info on loaded dataframe
pga_data_h_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2740403 entries, 0 to 2740402
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   Player Name  object
 1   Season       int64
 2   Statistic    object
 3   Variable     object
 4   Value        object
dtypes: int64(1), object(4)
memory usage: 104.5+ MB

In [5]:
pga_data_h_df.head()

,Player Name,Season,Statistic,Variable,Value
0,Robert Garrigus,2010,Driving Distance,Driving Distance - (ROUNDS),71
1,Bubba Watson,2010,Driving Distance,Driving Distance - (ROUNDS),77
2,Dustin Johnson,2010,Driving Distance,Driving Distance - (ROUNDS),83
3,Brett Wetterich,2010,Driving Distance,Driving Distance - (ROUNDS),54
4,J.B. Holmes,2010,Driving Distance,Driving Distance - (ROUNDS),100

In [6]:
# Player counts per season
pga_group1 = pga_data_h_df.copy()
pga_group1 = pga_group1[["Season", "Player Name"]]
pga_group1.drop_duplicates(inplace=True)
player_count = pga_group1.groupby("Season").count()
print("Number of players per season:")
player_count

Number of players per season:

        Player Name
Season
2010           1257
2011           1335
2012           1270
2013           1189
2014           1193
2015           1255
2016           1235
2017           1239
2018           1250

In [7]:
gen_stats = pga_data_h_df.copy()
gen_stats = gen_stats[["Season", "Statistic"]]
gen_stats.drop_duplicates(inplace=True)
stats_count = gen_stats.groupby("Season").count()
print("General stats available by Season:")
stats_count

General stats available by Season:

        Statistic
Season
2010          511
2011          383
2012          393
2013          406
2014          407
2015          397
2016          393
2017          391
2018          394

In [8]:
stat_vars = pga_data_h_df.copy()
stat_vars = stat_vars[["Season", "Variable"]]
stat_vars.drop_duplicates(inplace=True)
stat_vars_count = stat_vars.groupby("Season").count()
print("Stat variables available by Season:")
stat_vars_count

Stat variables available by Season:

        Variable
Season
2010        2016
2011        1505
2012        1545
2013        1598
2014        1605
2015        1567
2016        1550
2017        1562
2018        1578